openai
dashscope
python-dotenv
requests
pydantic
gradio
pandas
numpy
pdfminer.six
elasticsearch8
nltk
jieba
chardet
chromadb
pymupdf
pymupdf4llm
scikit-learn
matplotlib
plotly
pgvector
psycopg2-binary
flair
rank-bm25
onnxruntime
spacy
ipywidgets
transformers
torch
seaborn
llama-index
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-llms-openai-like
llama-index-llms-dashscope
bs4
biopython
